<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/cryptoweb/digital.css">
    <title>Message</title>
</head>
<body>
    <form action="{% url 'digital' %}" method="post">
        {% csrf_token %}
        <div class="box">
            <h1>Send Message</h1>
        </div>
        <div class="box">
            <label for="">Send To</label>
            <select name="receiver" id="">
                {% for user in alluser %}
                    {% if user != request.user %}
                        {% if user.username != "a" %}
                            <option value="{{user.username}}">{{user.username}}</option>
                        {% endif %}
                    {% endif %}
                    {% empty %}
                    <option value="" disabled>Account not available</option>
                {% endfor %}
            </select>
        </div>
        <div class="box">
            <label for="">Message</label>
            <input type="text" name="message" required>
        </div>
        <div class="box">
            <button type="submit">Send</button>
        </div>
        <div class="box">
            <a href="/" class="back">Back</a>
        </div>
    </form>
    <div class="container">
            <p class="first">Inbox</p>
            {% for m in messages %}
            <div class="boxMessage">
                <p class="p">Sender : {{ m.sender }}</p>
                <span>  
                    {% if m.checkmessage %}
                        <input type="checkbox" class="greenCheckbox" checked>
                    {% else %}
                        <input type="checkbox" class="redCheckbox">
                    {% endif %}
                    <label for="customCheckbox" class="customCheckboxLabel"></label>
                    <p class="p">{{ m.message }}</p>    
                </span>
            </div>
            {% empty %}
            <p class="p">Message not available</p>
            {% endfor %}
    </div>
</body>
</html>