<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/cryptoweb/index.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <a href="{% url 'signup' %}">Password Encrypt</a>
        <a href="{% url 'digital' %}">Digital Signature</a>
        <a href="{% url 'rsa' %}">RSA</a>
        <a href="{% url 'custommessage' %}">Custom Message</a>
        {% if user.is_authenticated %}        
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'signin' %}">Sign in</a>
        {% endif %}
    </div>
    {% if message %}
        <script>alert(message)</script>
    {% endif %}
</body>
</html>