<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/cryptoweb/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="box">
            <h1>Create account</h1>
        </div>
        <div class="box">
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>
        <div class="box">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button id="showPassword" type="button">Show</button>
            <script>
                const passwordInput = document.getElementById('password');
                const showPasswordButton = document.getElementById('showPassword');

                showPasswordButton.addEventListener('click', function() {
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    showPasswordButton.textContent = 'Hide';
                } else {
                    passwordInput.type = 'password';
                    showPasswordButton.textContent = 'Show';
                }
                });
            </script>
        </div>
        <div class="box">
            <button type="submit">Submit</button>
        </div>
        <div class="box">
            <a href="/" class="back">Back</a>
        </div>
    </form>
    
</body>
</html>