:root{
    --c1: #D4F0F0;
    --c2: #8FCACA;
    --c3: #CCE2CB;
    --c4: #B6CFB6;
    --c5: #97C1A9;
    --font: Arial, Helvetica, sans-serif;
    --box-width: 350px;
}
body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--c5);
    font-family: var(--font);
}

form {
    margin-top: 10dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c1);
    width: var(--box-width);
    border-radius: 10px;
}

.box {
    margin: 15px;
}

button {
    margin-bottom: 10px;
    padding: 7px 8px;
    border-radius: 7px;
    border: none;
    background-color: var(--c4);
    cursor: pointer;
}

button:hover{
    background-color: var(--c3);
}

a{
    background-color: var(--c4);
    padding: 7px 8px;
    text-decoration: none;
    color: black;
    border-radius: 7px;
}

a:hover{
    background-color: var(--c3);
}

input{
    border: none;
    border-radius: 5px;
}

.container{
    margin-top: 3dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--c1);
    width: var(--box-width);
    border-radius: 10px;
}

.container p:first-child {
    align-self: center;
}

.p{
    margin-left: 10px
}

span{
    display: flex;
    flex-direction: row;
}
.customCheckboxLabel {
    display: inline-block;
    margin-left: 10px;
    width: 15px; 
    height: 15px; 
    border: 1px solid #aaa;
    cursor: auto;
    align-self: center;
    justify-self: center;
}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: not-allowed; 
}

input[type="checkbox"]:checked + .customCheckboxLabel {
    background-color: palegreen; 
}