:root{
    --c1: #D4F0F0;
    --c2: #8FCACA;
    --c3: #CCE2CB;
    --c4: #B6CFB6;
    --c5: #97C1A9;
    --font: Arial, Helvetica, sans-serif;
}
body{margin: 0;background-color: var(--c5);font-family: var(--font);}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--c1);
    width: 400px;
    border-radius: 10px;
}
a{
    margin: 30px;
    padding: 10px 20px;
    background-color: var(--c4);
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: var(--c3);
}